img {
    weight: 50%;
    height: 50%;
}

table {
    background-color: #fff1d9;
}

td {
    horiz-align: center;
    padding: 10px;
    text-align: left;
    width: 50%;
}

p {
    font-family: Courier, monospace;
    font-style: oblique;
    text-align: justify;
}

a {
    color: #5c3680;
    text-decoration: none;
    align: center;
}
a:visited {
    color: #635d80;
}
a:hover {
    color: #800000;
    text-decoration: underline;
}
